<script setup lang="ts">
/**
 * WeatherContainer: Main weather container for Dashboard.
 * contains 1 master and 5 mini WeatherItem objects
 */
import LocationSearch from '@/components/Common/LocationSearch.vue'
import WeatherCard from '@/components/Weathers/WeatherCard.vue'
import WeatherCardList from '@/components/Weathers/WeatherCardList/WeatherCardList.vue'
import { storeToRefs } from 'pinia'

import { useWeatherStore } from '@/stores/WeatherStore'
const weatherStore = useWeatherStore()

/*
 * Crete Object of references with all the state, getters
 * Get store data from state with using getters
 */
const { getWeatherCurrent, getWeatherForecastList } = storeToRefs(weatherStore)
</script>

<template>
  <!-- ** Location Search -->
  <div class="flex-wrap-center">
    <LocationSearch />
  </div>
  <!-- Location Search ** -->

  <div
    v-if="getWeatherCurrent && getWeatherForecastList.length"
    class="flex-wrap-center"
  >
    <!-- ** Master Weather Card -->
    <div class="w-full lg:w-1/5">
      <WeatherCard :dayForecast="getWeatherCurrent"> </WeatherCard>
    </div>
    <!-- Master Weather Card ** -->

    <!-- ** WeatherCardList -->
    <div class="w-full lg:w-4/5 flex justify-end">
      <WeatherCardList :fiveDaysForecast="getWeatherForecastList" />
    </div>
    <!-- WeatherCardList ** -->
  </div>
</template>
