<script setup lang="ts">
import { IWeatherAppData } from '@/types/WeatherAppTypes'
import IconHumidity from '@/assets/icons/mini/IconHumidity.vue'
import IconWind from '@/assets/icons/mini/IconWind.vue'
import { computed } from 'vue'
import { doubleToInt } from '@/helpers/Converters'
import { unixTimeToDateTime } from '@/helpers/DateHelper'
/**
 * WeatherCard: WeatherContainer's children
 *
 * Properties
 * mini: determines the size of the elements
 * dayForecast: type of IWeatherAppData
 */

const props = defineProps({
  mini: {
    type: Boolean,
    default: false,
    required: false
  },
  dayForecast: {
    type: Object,
    required: true,
    default: {} as IWeatherAppData
  }
})
const dateTime = computed(() => {
  return unixTimeToDateTime(
    props.dayForecast.dateTime,
    props.dayForecast.timezone,
    !props.mini ? 'date-time' : 'date'
  )
})
</script>

<template>
  <div class="flex justify-center w-full rounded-md p-1" data-py="weather-card">
    <div
      :class="`card min-w-sm max-w-sm backdrop-blur-sm hover:bg-gray-800/40 bg-gray-800/20 transition-shadow shadow-lg hover:shadow-shadow-xl w-full text-purple-50 rounded-md`"
    >
    
      <div>
        <div class="flex justify-between items-center mb-2 px-4 pt-4">
          <!-- ** City Name -->
          {{ dayForecast.cityName }}
          <!-- City Name ** -->

          <!-- ** Date Time -->
          <span class="text-sm">
            {{ dateTime }}
          </span>
          <!-- Date Time ** -->
        </div>

        <!-- ** Center Icon -->
        <div class="flex justify-center items-center p-4">
          <div
            :class="`flex justify-center items-center rounded-md ${
              !mini ? 'w-6/6' : 'w-3/6'
            }`"
          >
            <img :src="dayForecast.icon" />
          </div>
        </div>
        <!-- Center Icon ** -->

        <div class="text-md pt-4 pb-4 px-4">
          <div class="flex justify-between items-center">
            <div class="space-y-2">
              <!-- ** Wind -->
              <span class="flex space-x-2 items-center">
                <IconWind />
                <span>
                  {{ dayForecast.windSpeed }}
                </span>
              </span>
              <!-- Wind ** -->

              <!-- ** Humadity -->
              <span class="flex space-x-2 items-center">
                <IconHumidity />
                <span>
                  {{ dayForecast.humidity }}
                </span>
              </span>
              <!-- Humadity ** -->
            </div>

            <!-- ** Temperature -->
            <div>
              <h1 :class="`${!mini ? 'text-6xl' : 'text-3xl'}`">
                {{ doubleToInt(dayForecast.temperature) }}°
              </h1>
            </div>
            <!-- Temperature ** -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
