<script setup lang="ts">
import IconSortAscending from '@/assets/icons/mini/SortAscending.vue'
import IconSortDescending from '@/assets/icons/mini/SortDescending.vue'
import { storeToRefs } from 'pinia'

import { useWeatherStore } from '@/stores/WeatherStore'
const weatherStore = useWeatherStore()
/*
 * Crete Object of references with all the state, getters
 * Get store data from state with using getters
 */
const { getListSortState } = storeToRefs(weatherStore)
</script>

<template>
  <div class="p-2 flex justify-between">
    <span class="text-white text-2xl font-bold text-center">
      5-day Forecast
    </span>
    <button
      type="button"
      class="btn-primary rounded-md w-10"
      @click="weatherStore.reverseList"
    >
      <IconSortAscending v-if="!getListSortState" />
      <IconSortDescending v-if="getListSortState" />
    </button>
  </div>
</template>
