<script setup lang="ts">
import CardListToolbar from '@/components/Weathers/WeatherCardList/CardListToolbar.vue'
import WeatherCard from '@/components/Weathers/WeatherCard.vue'
import type { IWeatherAppData } from '@/types/WeatherAppTypes'

defineProps({
  fiveDaysForecast: {
    type: Object,
    required: true,
    default: [] as IWeatherAppData[]
  }
})
</script>

<template>
  <div class="flex w-full justify-end flex-col rounded-md">
    <!-- ** CardListToolbar -->
    <CardListToolbar />
    <!-- CardListToolbar ** -->
    <div
      class="flex flex-wrap justify-center items-end"
      data-cy="weather-card-list-container-cy"
    >
      <div
        v-for="day in fiveDaysForecast"
        :key="day.dt"
        class="w-full sm:w-1/3 md:w-1/5"
      >
        <!-- ** Children Weather Cards -->
        <WeatherCard :dayForecast="day" :mini="true"> </WeatherCard>
        <!-- Children Weather Cards ** -->
      </div>
    </div>
  </div>
</template>
