<template>
  <svg height="20" width="20" viewBox="0 0 32 32" class="fill-current">
    <path
      d="M13,30a5.0057,5.0057,0,0,1-5-5h2a3,3,0,1,0,3-3H4V20h9a5,5,0,0,1,0,10Z"
    ></path>
    <path
      d="M25 25a5.0057 5.0057 0 01-5-5h2a3 3 0 103-3H2V15H25a5 5 0 010 10zM21 12H6V10H21a3 3 0 10-3-3H16a5 5 0 115 5z"
    ></path>
  </svg>
</template>
