<script setup lang="ts">
/**
 * Project Dashboard for home page
 */
import WeatherContainer from '@/components/Weathers/WeatherContainer.vue'
</script>

<template>
  <main>
    <WeatherContainer />
  </main>
</template>
