<script setup lang="ts">
import IconArrowRight from '@/assets/icons/mini/IconArrowRight.vue'
import { storeToRefs } from 'pinia'

import { useWeatherStore } from '@/stores/WeatherStore'
const weatherStore = useWeatherStore()

const getPredictions = (selectedCoordinates) => {
  weatherStore.resetAll()
  weatherStore.weatherForecast().get(selectedCoordinates)
}
const { getCities } = storeToRefs(weatherStore)
</script>

<template>
  <div class="p-2" v-if="getCities.length">
    <div v-for="(city, index) in getCities" :key="index">
      <button
        type="button"
        class="btn-primary p-2 w-full rounded-md justify-between"
        :data-cy="`location-city-cy${index}`"
        @click="
          () => {
            getPredictions(city.coordinates)
          }
        "
      >
        {{ city.cityName }} ({{ city.sys.country }})
        <IconArrowRight />
      </button>
    </div>
  </div>
</template>
