<script setup lang="ts">
/**
 * Location search input component
 *
 * This search input component is used to get user inputs fro searcing location with using weather apis
 *
 */
import BtnList from '@/components/Common/BtnList.vue'
import IconSearch from '@/assets/icons/mini/IconSearch.vue'
import { ref } from 'vue'

import { useWeatherStore } from '@/stores/WeatherStore'
const weatherStore = useWeatherStore()

const location = ref('')
// clear weather state if search input cleared
const keyUpSearchInput = () => {
  if (!location.value) {
    weatherStore.resetAll()
  }
}
// Get weather data from the store
const getData = () => {
  if (location.value) {
    weatherStore.resetAll()
    weatherStore.cityList().get(location.value)
  }
}
</script>
<template>
  <div class="flex flex-col w-full xl:1/5 md:w-2/5">
    <div class="location-search-wrapper" data-cy="location-search-cy">
      <input
        type="text"
        v-model="location"
        placeholder="Enter City Name"
        @keyup="keyUpSearchInput"
        :class="`input-primary ${
          !location
            ? 'bg-gray-800/50 text-gray-600/50'
            : 'bg-gray-800/80 hover:bg-gray-600/80'
        }`"
        v-on:keyup.enter="getData"
      />
      <button
        type="button"
        class="btn-primary rounded-r-md w-10"
        :disabled="!location"
        @click="getData"
      >
        <IconSearch />
      </button>
    </div>
    <BtnList />
  </div>
</template>
