<script setup lang="ts">
/**
 * Project Main MainHeader for all pages
 */
defineProps<{
  msg: string
}>()
</script>

<template>
  <div class="greetings" data-cy="header-container">
    <h1 class="text-white text-5xl font-bold p-4 text-center">
      {{ msg }}
    </h1>
  </div>
</template>
