/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-wrap-center {
    @apply flex flex-wrap justify-center;
  }
  .input-primary {
    @apply text-white w-full 
    text-xs mb-1 h-10 capitalize focus:outline-0  
    hover:text-gray-400 py-0.5 px-2 rounded-l-md;
  }
  .btn-primary {
    @apply flex justify-center items-center 
    text-white 
    mb-1 
    h-10 
    capitalize 
    bg-gray-800 
    disabled:bg-gray-800/50 
    disabled:text-gray-600/50 
    hover:bg-gray-600 
    hover:text-gray-400 p-1;
  }
  .location-search-wrapper {
    @apply flex justify-between items-center p-2;
  }
}

html,
body {
  min-height: 100vh;
}
