<script setup lang="ts">
/**
 *App.vue is configured with vue-router but according to app needs we don't have to use vue-router.
 *The app only consist of one dashboard and it's components
 */
import MainHeader from '@/components/Common/MainHeader.vue'
import { RouterView } from 'vue-router'
</script>

<template>
  <header>
    <!-- MainHeader: Created here to show top of the every page we will create in the future -->
    <div class="wrapper">
      <MainHeader msg="Welcome Weather App" />
    </div>
  </header>

  <!-- Ohter pages displayed with using RouterView  -->
  <RouterView />
</template>

<style>
@import '@/assets/base.css';
</style>
